<html>
	<body>
		<% if (message==1){%>
			<dialog open>  
				<center>
					<h3>
						Success!
					</h3>
				</center>  
				<center>
					<p>
						Delete file from bucket!
					</p>
				</center>
				<center>
					<button onclick="location.href='http://localhost:8080/list'">
						OK
					</button>
				</center>
			</dialog>  
		<%}%>		
	    <% if (message==2){%>
			<dialog open>  
				<center>
					<h3>
						Success!
					</h3>
				</center>  
				<center>
					<p>
						Message was taken!
					</p>
				</center>
				<center>
					<button onclick="location.href='http://localhost:8080/list'">
						OK
					</button>
				</center>
			</dialog>  
		<%}%>	
		<h2>
			List of files in <b><%= bucket %></b> bucket:
		</h2>
		<div>
			<% for(var i = 0; i < imageFiles.length; ++i) { 
                var image = imageFiles[i] %>
				<form id="actionform" name="wartosc" action="http://localhost:8080/action" method='get'>
					<div>
						<a href='<%= image.url %>'>
							<img src="<%= image.url %>" alt="<%= image.fileName %>" style="width:90px; height:90px;">
						</a>
					</div>
					<div>
						<input type="hidden" name='klucz' value="<%= image.field %>"/>
						<input type="submit" value="Turn"/>
						<input type="button" onclick="location.href='http://localhost:8080/delete?klucz=<%= image.field %>'" value="Delete"/>
					</div>
				</form>		
			<% } %>   
		</div>
	</body>
</html>
